   <footer class="page-footer bg-primary" style="position: relative" id="footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">BUSINESS DEVELOPMENT IDEAS</h5>
                <p class="grey-text text-lighten-4">BDI is an award-winning online publication for small business owners, entrepreneurs and the people who interact with them. Our mission is to bring you "Small business success … delivered daily.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacts</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Advertise</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Support</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright BDI
            <a class="grey-text text-lighten-4 right" href="#!">More ..</a>
            </div>
          </div>
            <div style="position: absolute;right: 1em;top: 1em">
                <a href="#">Move to top</a>
            </div>
        </footer>