{% extends 'base.html' %}

{%block title%}Login {%endblock%}
{%block content %}
<div class="container">
    <form action="" method="post">
        <div>{{error}}</div>
        <div>{{success}}</div>
        {%csrf_token%}
        <label>Email: <input  type="text"pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"required /></label>
        <label>Username: <input type="text" name="username" /></label>
        <label>Password: <input type="password" name="password" /></label>
        <input type="submit" class="btn btn-large submit-row-btn" value="Submit">
        <p>Already have an account? <a href="/login">Click to login</a> </p>
    </form>
</div>
{%endblock%}
